
<div class="row">
    <div class="alert alert-primary">
       <div class="row">
            <div class="col-2">
                @number
            </div>
            <div class="col-4">
                Рейс такой
            </div>
            <div class="col">
                <LampState/>
            </div>
       </div>

    </div>
</div>

@code {
    [Parameter]
    public int number { get; set; }
}
